.FormInput {
    width: 50%;
    padding-top: 10px;
    border-radius: 15px;
    border-color: black;
    padding-bottom: 25px;

    .butt {
        margin-left: 10px;
    }

    .leftContainer {
        margin-top: 10px;
    }

    .rightContainer {
        margin-left: 30px;
    }


}